{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <!-- スクロールバーを非表示（ぐらつきを考慮） -->
  <style>
    .container::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>

<body class="container">
  <h1 class="display-4 text-primary">{{title}}</h1>
  <p>
    <a href="{% url 'create' %}">追加</a>
    <a href="{% url 'find' %}">検索</a>
    <a href="{% url 'check' %}">チェック</a>
  </p>
  <!-- 項目数等 -->
  <ul>
    {% for v in value %}
    <li>{{v.0}}：{{v.1}}</li>
    {% endfor %}
  </ul>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>商品名</th>
      <th>生産物</th>
      <th>配送先</th>
      <th>価格</th>
      <th>添付情報</th>
      <th>修正</th>
      <th>削除</th>
    </tr>
    {% for obj in data %}
    <tr>
      <td>{{obj.id}}</td>
      <td>{{obj.Product}}</td>
      <td>{{obj.Area}}</td>
      <td>{{obj.Delivery}}</td>
      <td>{{obj.Price}}</td>
      <td>{{obj.Attachment}}</td>
      <td><a href="{% url 'edit' obj.id %}">修正</a></td>
      <td><a href="{% url 'delete' obj.id %}">削除</a></td>
    </tr>
    {% endfor %}
  </table>
  <ul class="pagination">
    {% if data.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% url 'index' 1 %}">&laquo; 最初のページ</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}{{data.previous_page_number}}">
        &laquo; 前へ</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link">&laquo; 最初のページ</a>
    </li>
    <li class="page-item">
      <a class="page-link">
        &laquo; 前へ</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
    </li>
    {% if data.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}{{data.next_page_number }}">次へ &raquo;</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}{{data.paginator.num_pages}}">最後のページ &raquo;</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link">
        次へ &raquo;</a>
    </li>
    <li class="page-item">
      <a class="page-link">最後のページ &raquo;</a>
    </li>
    {% endif %}
  </ul>
</body>

</html>