{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body class="container">
  <h1 class="display-4 text-primary">{{title}}</h1>
  {% for v in msg %}
  <p class="h5">{{v}}</p>
  {% endfor %}
  <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
      <input type="" class="form-control" name="{{ field.name }}" id="{{ field.name }}">
    </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="click">
  </form>
  {% if request.method == 'POST' %}
  <form action="{% url 'index' %}" method="GET" class="mt-4">
    <input class="btn btn-primary" type="submit" value="戻る"></input>
  </form>
  {% endif %}
</body>

</html>