{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body class="container">
  <h1>{{test}}</h1>
  <h1 class="display-4 text-primary">{{title}}</h1>
  <p>
    <a href="{% url 'create' %}">追加</a>
    <a href="{% url 'find' %}">検索</a>
  </p>
  <ul>
    {% for v in value %}
    <li>{{v.0}}：{{v.1}}</li>
    {% endfor %}
  </ul>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>氏名</th>
      <th>年齢</th>
      <th>性別</th>
      <th style="width:20%">所属コース</th>
      <th style="width:30%">選択科目</th>
      <th>修正</th>
      <th>削除</th>
    </tr>
    {% for obj in data %}
    <tr>
      <td>{{obj.id}}</td>
      <td>{{obj.name}}</td>
      <td>{{obj.age}}</td>
      <td>{{obj.gender}}</td>
      <td>{{obj.belong}}</td>
      <td>
        <ul>
          {% for v in obj.subject %}
          <li>{{v}}</li>
          {% endfor %}
        </ul>
      </td>
      <td><a href="{% url 'edit' obj.id %}">修正</a></td>
      <td><a href="{% url 'delete' obj.id %}">削除</a></td>
    </tr>
    {% endfor %}
  </table>
  {% if pagi %}
  <ul class="pagination">
    {% if data.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% url 'index' 1 %}">&laquo; 最初のページ</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}{{data.previous_page_number}}">
        &laquo; 前へ</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link">&laquo; 最初のページです</a>
    </li>
    <!-- <li class="page-item">
      <a class="page-link">
        &laquo; 最後のページへ</a>
    </li> -->
    {% endif %}
    <li class="page-item">
      <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
    </li>
    {% if data.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}{{data.next_page_number }}">次へ &raquo;</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}{{data.paginator.num_pages}}">最後のページへ &raquo;</a>
    </li>
    {% else %}
    <!-- <li class="page-item">
      <a class="page-link">
        次へ &raquo;</a>
    </li> -->
    <li class="page-item">
      <a class="page-link">最後のページです &raquo;</a>
    </li>
    {% endif %}
  </ul>
  <a href="{% url 'index' %}">全体表示のページへ</a>
  {% else %}
  <a href="{% url 'index' 1 %}">ペジネーションのページへ</a>
  {% endif %}
</body>

</html>